// .header {
//     height: 50vh;
//     background-color: red;
//     display: flex;
//     flex-direction: column; // direction principale
//     justify-content: flex-end;//prend l axe column et donc l'axe définit dans flex-direction
//     align-items: flex-start;
// }


// .header__titre {
//     color: aqua;

//     }


// .header__paragraphe {
//     color: green;

// }


main {
    width: 45em;
    background-color: white;
    border-width:0.5px;
    // display:block;

}

.div1 {
    background-color: grey;
    margin-bottom: 1px;
    padding-top:2px;  //plus petit que padding-bottom
    padding-bottom: 2px;

};

.div2 {
    background-color: grey;
    margin-bottom: 1px;
    padding-top:2px;  //plus petit que padding-bottom
    padding-bottom: 1px;
}









