// .header {
//     height: 50vh;
//     background-color: red;
//     display: flex;
//     flex-direction: column; // direction principale
//     justify-content: flex-end;//prend l axe column et donc l'axe définit dans flex-direction
//     align-items: flex-start;
// }


// .header__titre {
//     color: aqua;

//     }


// .header__paragraphe {
//     color: green;

// }


main {
    width: 45em;
    background-color: grey;
    border-color: black;
    border: solid;
    border-width:0.5px;

}
